<!DOCTYPE html>
<html ng-app="app" lang="en" data-livestyle-extension="available">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="https://getbootstrap.com/favicon.ico">
  <title>Admin</title>
  <base href="/">
  <!-- Bootstrap core CSS -->
  <link href="../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" />
  <link href="../../resources/css/admin.css" rel="stylesheet" media="screen" />
  <link href="../../resources/css/notification.min.css" rel="stylesheet" media="screen" />
</head>

<body id="login-adm-page">
  <!-- Navbar -->
  <div ng-app="app">
    <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-white fixed-top bg-white">
      <a class="navbar-brand" href="../index.html">
        <img src="../../resources/assets/images-own/logo.png" width="66" height="30" class="d-inline-block align-top" alt="">
      </a>
      <button class="navbar-toggler d-lg-none bg-primary navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Inicio
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item dropdown" uib-dropdown dropdown-append-to-body>
            <a class="nav-link dropdown-toggle" uib-dropdown-toggle href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Usuarios
            </a>
            <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" ui-sref="listaUsuarios">Listar</a>
            </div>
          </li>
          <li class="nav-item dropdown" uib-dropdown dropdown-append-to-body>
            <a class="nav-link dropdown-toggle" uib-dropdown-toggle href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Deportes
            </a>
            <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" ui-sref="crearDeporte">Crear nuevo</a>
              <a class="dropdown-item" ui-sref="listaDeportes">Listar</a>
            </div>
          </li>
          <li class="nav-item dropdown" uib-dropdown dropdown-append-to-body>
            <a class="nav-link dropdown-toggle" uib-dropdown-toggle href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Torneos
            </a>
            <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" ui-sref="crearTorneo">Crear nuevo</a>
              <a class="dropdown-item" ui-sref="listaTorneos">Listar</a>
            </div>
          </li>
          <li class="nav-item dropdown" uib-dropdown dropdown-append-to-body>
            <a class="nav-link dropdown-toggle" uib-dropdown-toggle href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Premios
            </a>
            <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" ui-sref="crearPremio">Crear nuevo</a>
              <a class="dropdown-item" ui-sref="listaPremios">Listar</a>
              <a class="dropdown-item" ui-sref="premiosEntregados">Ultimos movimientos</a>
            </div>
          </li>
          <li class="nav-item dropdown" uib-dropdown dropdown-append-to-body>
            <a class="nav-link dropdown-toggle" uib-dropdown-toggle href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Equipos
            </a>
            <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" ui-sref="crearEquipo">Crear nuevo</a>
              <a class="dropdown-item" ui-sref="listaEquipos">Listar</a>
            </div>
          </li>
          <li class="nav-item dropdown" uib-dropdown dropdown-append-to-body>
            <a class="nav-link dropdown-toggle" uib-dropdown-toggle href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Eventos
            </a>
            <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" ui-sref="crearEvento">Crear nuevo</a>
              <a class="dropdown-item" ui-sref="listaEventos">Listar</a>
            </div>
          </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item float-right">
            <a class="nav-link" href="#">#NombredeAdmin</a>
          </li>
        </ul>
      </div>
    </nav>
    <ui-view>
    </ui-view>
  </div>
  <script type="text/javascript" src="../../resources/js/angular.bundle.js"></script>
  <script type="text/javascript" src="../../resources/js/bootstrap.bundle.js"></script>
  <script type="text/javascript" src="../../resources/js/jquery.bundle.js"></script>
  <script type="text/javascript" src="../../resources/js/main.js"></script>
</body>

</html>