<div class="form-page">
  <div class="page-header no-margin-bottom">
    <div class="container-fluid">
      <h2 class="h5 no-margin-bottom">Apostar</h2>
    </div>
  </div>
  <ul class="breadcrumb">
    <div class="container-fluid">
      <li class="breadcrumb-item"><a ui-sref="listaEventos">Home</a></li>
    </div>
  </ul>
  <div class="col-lg-12">
    <div class="block">
      <div class="card card-futbol">
        <div class="card-header card-header-futbol">
          <h3>Futbol - Liga Argentina</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md border-apuestas text-center">
              <img src="../../resources/assets/images-team/futbol/lanus.png" class="img-fluid-teams-small">
              <h4 class="text-center">{{apuestaCtrl.evento.equipo1.nombre}}</h4>
              <a class="btn btn-primary btn-lg" href="#" role="button">{{apuestaCtrl.evento.valorEquipo1}}</a>
            </div>
            <div class="col-md border-apuestas text-center">
              <img src="../../resources/assets/images-own/empate.png" class="img-fluid-teams-small">
              <h4>Empate</h4>
              <a class="btn btn-primary btn-lg" href="#" role="button">{{apuestaCtrl.evento.empate}}</a>
            </div>
            <div class="col-md border-apuestas text-center">
              <img src="../../resources/assets/images-team/futbol/boca.png" class="img-fluid-teams-small">
              <h4 class="text-center">{{apuestaCtrl.evento.equipo2.nombre}}</h4>
              <a class="btn btn-primary btn-lg" href="#" role="button">{{apuestaCtrl.evento.valorEquipo2}}</a>
            </div>
          </div>

        </div>
        <form>
          <div class="row apuesta-form">
            <div class="col">
              <a class="btn btn-warning btn-lg float-right" href="#" role="button">All-in</a>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Puntos">
            </div>
            <div class="col">
              <a class="btn btn-primary btn-lg" href="#" role="button">Apostar</a>
            </div>
          </div>
        </form>
        <p class="lead text-center color-white">
          {{apuestaCtrl.evento.fecha}}
        </p>
      </div>
    </div>
  </div>
</div>