<!DOCTYPE html>
<html lang="en" data-livestyle-extension="available">

<body>
  <!-- Main Content -->
  <main class="col-sm-12 ml-sm-auto col-md-12 pt-3 bg-light" role="main">
    <h1>Eventos</h1>
    <div class="container">


      <!-- Aca va el for de eventos -->

      <div class="card card-futbol">
        <div class="card-header card-header-futbol">
          <h3>Futbol - Liga Argentina</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md border-apuestas text-center">
              <img src="../../resources/assets/images-team/futbol/lanus.png" class="img-fluid-teams-small">
              <h4 class="text-center">{{apuestaCtrl.evento.equipo1.nombre}}</h4>
              <a class="btn btn-primary btn-lg" href="#" role="button">{{apuestaCtrl.evento.valorEquipo1}}</a>
            </div>
            <div class="col-md border-apuestas text-center">
              <img src="../../resources/assets/images-own/empate.png" class="img-fluid-teams-small">
              <h4>Empate</h4>
              <a class="btn btn-primary btn-lg" href="#" role="button">{{apuestaCtrl.evento.empate}}</a>
            </div>
            <div class="col-md border-apuestas text-center">
              <img src="../../resources/assets/images-team/futbol/boca.png" class="img-fluid-teams-small">
              <h4 class="text-center">{{apuestaCtrl.evento.equipo2.nombre}}</h4>
              <a class="btn btn-primary btn-lg" href="#" role="button">{{apuestaCtrl.evento.valorEquipo2}}</a>
            </div>
          </div>

        </div>
        <form>
          <div class="row apuesta-form">
            <div class="col">
              <a class="btn btn-warning btn-lg float-right" href="#" role="button">All-in</a>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Puntos">
            </div>
            <div class="col">
              <a class="btn btn-primary btn-lg" href="#" role="button">Apostar</a>
            </div>
          </div>
        </form>
        <p class="lead text-center color-white">
           {{apuestaCtrl.evento.fecha}}
        </p>
      </div>
    </div>

    </div>


    <!-- Aca termina el for de eventos -->
    <!-- Carga mas rapido si esta al final los js -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.min.js.descarga"></script>
    <script src="../js/bootstrap.min.js.descarga"></script>
    <!-- IE10 bug -->
    <script src="../js/ie10-viewport-bug-workaround.js.descarga"></script>
</body>

</html>