<!DOCTYPE html>
<html lang="en" data-livestyle-extension="available">

<body>
  <!-- Main Content -->
  <main class="col-sm-12 ml-sm-auto col-md-12 pt-3 bg-light" role="main">
    <h1>Eventos</h1>
    <div class="container">


      <!-- Aca va el for de eventos -->

      <div class="card card-futbol">
        <div class="card-header">
          <h3>Futbol - Liga Argentina</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md border-apuestas text-center">
              <img src="../../resources/assets/images-team/futbol/lanus.png" class="img-fluid-teams-small">
              <h4 class="text-center">Lanus</h4>
              <a class="btn btn-primary btn-lg" href="#" role="button">1.21</a>
            </div>
            <div class="col-md border-apuestas text-center">
              <img src="../../resources/assets/images-own/empate.png" class="img-fluid-teams-small">
              <h4>Empate</h4>
              <a class="btn btn-primary btn-lg" href="#" role="button">1.50</a>
            </div>
            <div class="col-md border-apuestas text-center">
              <img src="../../resources/assets/images-team/futbol/boca.png" class="img-fluid-teams-small">
              <h4 class="text-center">Boca Junios</h4>
              <a class="btn btn-primary btn-lg" href="#" role="button">1.80</a>
            </div>
          </div>

        </div>
        <form>
          <div class="form-row">
            <div class="col">
              <a class="btn btn-warning btn-lg float-right" href="#" role="button">All-in</a>
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Puntos">
            </div>
            <div class="col">
              <a class="btn btn-primary btn-lg" href="#" role="button">Apostar</a>
            </div>
          </div>
        </form>
        <p class="lead text-center">
          10/09/2017 15:30
        </p>
      </div>
    </div>

    <!--
        <div class="jumbotron">
           <h3>Futbol</h3>
           <p class="lead">Liga Argentina</p>
           <hr class="my-4">
           <div class="row">
              <div class="col-md text-center">
                 <img src="../../resources/assets/images-team/lanus.png" class="img-fluid-teams-small">   
                 <h4 class="text-center">Lanus</h4> 
              </div>
              <div class="col-md text-center">
                 <div class="vs">
                    <h1>
                    VS
                    <h1>
                 </div>
              </div>
              <div class="col-md text-center">
                 <img src="../../resources/assets/images-team/boca.png" class="img-fluid-teams-small">  
                 <h4 class="text-center">Boca Junios</h4> 
              </div>
           </div>
           <p class="lead text-center">
              <a class="btn btn-primary btn-lg" href="#" role="button">Apostar</a>
           </p>
        </div>


        </div>

        <div class="col-xs-1">
        <div class="jumbotron ">
           <h3>Futbol</h3>
           <p class="lead">Liga Argentina</p>
           <hr class="my-4">
           <div class="row">
              <div class="col-md text-center">
                 <img src="../../resources/assets/images-team/river.png" class="img-fluid-teams-small"> 
                 <h4 class="text-center">River</h4> 
              </div>
              <div class="col-md text-center">
                 <div class="vs">
                    <h1>
                    VS
                    <h1>
                 </div>
              </div>
              <div class="col-md text-center">
                 <img src="../../resources/assets/images-team/banfield.png" class="img-fluid-teams-small"> 
                 <h4 class="text-center">Banfield</h4> 
              </div>
           </div>
           <p class="lead text-center">
              <a class="btn btn-primary btn-lg" href="#" role="button">Apostar</a>
           </p>
        </div>

        </div>

        <div class="col-xs-1">

                <div class="jumbotron">
           <h3>Futbol</h3>
           <p class="lead">Liga Argentina</p>
           <hr class="my-4">
           <div class="row">
              <div class="col-md text-center">
                 <img src="../../resources/assets/images-team/rosario.png" class="img-fluid-teams-small"> 
                 <h4 class="text-center">Rosario Central</h4> 
              </div>
              <div class="col-md text-center">
                 <div class="vs">
                    <h1>
                    VS
                    <h1>
                 </div>
              </div>
              <div class="col-md text-center">
                 <img src="../../resources/assets/images-team/sanlorenzo.png" class="img-fluid-teams-small">  
                 <h4 class="text-center">San Lorenzo</h4> 
              </div>
           </div>
           <p class="lead text-center">
              <a class="btn btn-primary btn-lg" href="#" role="button">Apostar</a>
           </p>
        </div>

        </div>


         <div class="col-xs-1">

                <div class="jumbotron">
           <h3>Futbol</h3>
           <p class="lead">Liga Argentina</p>
           <hr class="my-4">
           <div class="row">
              <div class="col-md text-center">
                 <img src="../../resources/assets/images-team/tigre.png" class="img-fluid-teams-small"> 
                 <h4 class="text-center">Tigre</h4> 
              </div>
              <div class="col-md text-center">
                 <div class="vs">
                    <h1>
                    VS
                    <h1>
                 </div>
              </div>
              <div class="col-md text-center">
                 <img src="../../resources/assets/images-team/chacarita.png" class="img-fluid-teams-small">  
                 <h4 class="text-center">Chacarita</h4> 
              </div>
           </div>
           <p class="lead text-center">
              <a class="btn btn-primary btn-lg" href="#" role="button">Apostar</a>
           </p>
        </div>

        </div>


         <div class="col-xs-1">

                <div class="jumbotron">
           <h3>Futbol</h3>
           <p class="lead">Liga Argentina</p>
           <hr class="my-4">
           <div class="row">
              <div class="col-md text-center">
                 <img src="../../resources/assets/images-team/estudiantes.png" class="img-fluid-teams-small"> 
                 <h4 class="text-center">Estudiantes de la plata</h4> 
              </div>
              <div class="col-md text-center">
                 <div class="vs">
                    <h1>
                    VS
                    <h1>
                 </div>
              </div>
              <div class="col-md text-center">
                 <img src="../../resources/assets/images-team/defensa.png" class="img-fluid-teams-small">   
                 <h4 class="text-center">Defensa y Justicia</h4> 
              </div>
           </div>
           <p class="lead text-center">
              <a class="btn btn-primary btn-lg margin-top" href="#" role="button">Apostar</a>
           </p>
        </div>
 -->
    </div>


    <!-- Aca termina el for de eventos -->
    <!-- Carga mas rapido si esta al final los js -->
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.min.js.descarga"></script>
    <script src="../js/bootstrap.min.js.descarga"></script>
    <!-- IE10 bug -->
    <script src="../js/ie10-viewport-bug-workaround.js.descarga"></script>
</body>

</html>