<!DOCTYPE html>
<html lang="en" data-livestyle-extension="available">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="https://getbootstrap.com/favicon.ico">
  <title>Template</title>
</head>

<body>
  <!-- Navbar -->
  <main class="col-sm-12 ml-sm-auto col-md-12 pt-3 bg-light" role="main">
    <h1>Eventos</h1>
    <div class="container">

      <div class="card-columns">
        <div class="card card-futbol" ng-repeat="evento in eventoCtrl.eventos">
          <div class="card-header card-header-futbol">
            <h3>Futbol - Liga Argentina {{evento.fecha}}</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md text-center">
                <img src="../../resources/assets/images-team/futbol/lanus.png" class="img-fluid-teams-small">
                <h4 class="text-center">Lanus</h4>
              </div>
              <div class="col-md text-center">
                <div class="vs">
                  <h2>
                    VS
                  </h2>
                </div>
              </div>
              <div class="col-md text-center">
                <img src="../../resources/assets/images-team/futbol/boca.png" class="img-fluid-teams-small">
                <h4 class="text-center">Boca Junios</h4>
              </div>
            </div>
          </div>
          <div class="card-footer bg-transparent border-transparent">
            <p class="lead text-center">
               <button type="button" class="btn btn-primary btn-lg" ng-click="eventoCtrl.apostar(evento)">Apuestaaa</button>
            </p>
          </div>
        </div>

      </div>
</body>

</html>