<!DOCTYPE html>
<html lang="en" data-livestyle-extension="available">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="https://getbootstrap.com/favicon.ico">
  <title>Template</title>
</head>

<body>
  <!-- Navbar -->
  <main class="col-sm-12 ml-sm-auto col-md-12 pt-3 bg-light" role="main">
    <h1>Eventos</h1>
    <div class="container">

      <div class="card-columns">

        <!-- Aca va el for de eventos -->

        <div class="card card-futbol">
          <div class="card-header card-header-futbol">
            <h3>Futbol - Liga Argentina</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md text-center">
                <img src="../../resources/assets/images-team/futbol/lanus.png" class="img-fluid-teams-small">
                <h4 class="text-center">Lanus</h4>
              </div>
              <div class="col-md text-center">
                <div class="vs">
                  <h2>
                    VS
                  </h2>
                </div>
              </div>
              <div class="col-md text-center">
                <img src="../../resources/assets/images-team/futbol/boca.png" class="img-fluid-teams-small">
                <h4 class="text-center">Boca Junios</h4>
              </div>
            </div>
          </div>
          <div class="card-footer bg-transparent border-transparent">
            <p class="lead text-center">
              <a class="btn btn-primary btn-lg" ui-sref="apostar" role="button">Apostar</a>
            </p>
          </div>
        </div>


        <div class="card card-futbol">
          <div class="card-header card-header-futbol">
            <h3>Futbol - Liga Argentina</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md text-center">
                <img src="../../resources/assets/images-team/futbol/river.png" class="img-fluid-teams-small">
                <h4 class="text-center">River Plate</h4>
              </div>
              <div class="col-md text-center">
                <div class="vs">
                  <h2>
                    VS
                  </h2>
                </div>
              </div>
              <div class="col-md text-center">
                <img src="../../resources/assets/images-team/futbol/banfield.png" class="img-fluid-teams-small">
                <h4 class="text-center">Banfield</h4>
              </div>
            </div>
          </div>
          <div class="card-footer bg-transparent border-transparent">
            <p class="lead text-center">
              <a class="btn btn-primary btn-lg" ui-sref="apostar" role="button">Apostar</a>
            </p>
          </div>
        </div>

        <div class="card card-futbol">
          <div class="card-header card-header-futbol">
            <h3>Futbol - Liga Argentina</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md text-center">
                <img src="../../resources/assets/images-team/futbol/rosario.png" class="img-fluid-teams-small">
                <h4 class="text-center">Rosario Central</h4>
              </div>
              <div class="col-md text-center">
                <div class="vs">
                  <h2>
                    VS
                  </h2>
                </div>
              </div>
              <div class="col-md text-center">
                <img src="../../resources/assets/images-team/futbol/san-lorenzo.png" class="img-fluid-teams-small">
                <h4 class="text-center">San Lorenzo de Almagro</h4>
              </div>
            </div>
          </div>
          <div class="card-footer bg-transparent border-transparent">
            <p class="lead text-center">
              <a class="btn btn-primary btn-lg" ui-sref="apostar" role="button">Apostar</a>
            </p>
          </div>
        </div>

        <div class="card card-futbol">
          <div class="card-header card-header-futbol">
            <h3>Futbol - Liga Argentina</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md text-center">
                <img src="../../resources/assets/images-team/futbol/tigre.png" class="img-fluid-teams-small">
                <h4 class="text-center">Tigre</h4>
              </div>
              <div class="col-md text-center">
                <div class="vs">
                  <h2>
                    VS
                  </h2>
                </div>
              </div>
              <div class="col-md text-center">
                <img src="../../resources/assets/images-team/futbol/chacarita.png" class="img-fluid-teams-small">
                <h4 class="text-center">Chacarita</h4>
              </div>
            </div>
          </div>
          <div class="card-footer bg-transparent border-transparent">
            <p class="lead text-center">
              <a class="btn btn-primary btn-lg" ui-sref="apostar" role="button">Apostar</a>
            </p>
          </div>
        </div>

        <div class="card card-futbol">
          <div class="card-header card-header-futbol">
            <h3>Futbol - Liga Argentina</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md text-center">
                <img src="../../resources/assets/images-team/futbol/estudiantes.png" class="img-fluid-teams-small">
                <h4 class="text-center">Estudiantes de la plata</h4>
              </div>
              <div class="col-md text-center">
                <div class="vs">
                  <h2>
                    VS
                  </h2>
                </div>
              </div>
              <div class="col-md text-center">
                <img src="../../resources/assets/images-team/futbol/defensa.png" class="img-fluid-teams-small">
                <h4 class="text-center">Defensa y Justicia</h4>
              </div>
            </div>
          </div>
          <div class="card-footer bg-transparent border-transparent">
            <p class="lead text-center">
              <a class="btn btn-primary btn-lg" ui-sref="apostar" role="button">Apostar</a>
            </p>
          </div>
        </div>

        <div class="card card-tenis">
          <div class="card-header card-header-tenis">
            <h3>Tenis - US-OPEN</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md text-center">
                <img src="../../resources/assets/images-team/tenis/del-potro.png" class="img-fluid-teams-small">
                <h4 class="text-center">Del Potro</h4>
              </div>
              <div class="col-md text-center">
                <div class="vs">
                  <h2>
                    VS
                  </h2>
                </div>
              </div>
              <div class="col-md text-center">
                <img src="../../resources/assets/images-team/tenis/nadal.png" class="img-fluid-teams-small">
                <h4 class="text-center">Rafael Nadal</h4>
              </div>
            </div>
          </div>
          <div class="card-footer bg-transparent border-transparent">
            <p class="lead text-center">
              <a class="btn btn-primary btn-lg" ui-sref="apostar" role="button">Apostar</a>
            </p>
          </div>
        </div>

        <!--
        <div class="jumbotron">
           <h3>Futbol</h3>
           <p class="lead">Liga Argentina</p>
           <hr class="my-4">
           <div class="row">
              <div class="col-md text-center">
                 <img src="../../resources/assets/images-team/lanus.png" class="img-fluid-teams-small">   
                 <h4 class="text-center">Lanus</h4> 
              </div>
              <div class="col-md text-center">
                 <div class="vs">
                    <h1>
                    VS
                    <h1>
                 </div>
              </div>
              <div class="col-md text-center">
                 <img src="../../resources/assets/images-team/boca.png" class="img-fluid-teams-small">  
                 <h4 class="text-center">Boca Junios</h4> 
              </div>
           </div>
           <p class="lead text-center">
              <a class="btn btn-primary btn-lg" href="#" role="button">Apostar</a>
           </p>
        </div>


        </div>

        <div class="col-xs-1">
        <div class="jumbotron ">
           <h3>Futbol</h3>
           <p class="lead">Liga Argentina</p>
           <hr class="my-4">
           <div class="row">
              <div class="col-md text-center">
                 <img src="../../resources/assets/images-team/river.png" class="img-fluid-teams-small"> 
                 <h4 class="text-center">River</h4> 
              </div>
              <div class="col-md text-center">
                 <div class="vs">
                    <h1>
                    VS
                    <h1>
                 </div>
              </div>
              <div class="col-md text-center">
                 <img src="../../resources/assets/images-team/banfield.png" class="img-fluid-teams-small"> 
                 <h4 class="text-center">Banfield</h4> 
              </div>
           </div>
           <p class="lead text-center">
              <a class="btn btn-primary btn-lg" href="#" role="button">Apostar</a>
           </p>
        </div>

        </div>

        <div class="col-xs-1">

                <div class="jumbotron">
           <h3>Futbol</h3>
           <p class="lead">Liga Argentina</p>
           <hr class="my-4">
           <div class="row">
              <div class="col-md text-center">
                 <img src="../../resources/assets/images-team/rosario.png" class="img-fluid-teams-small"> 
                 <h4 class="text-center">Rosario Central</h4> 
              </div>
              <div class="col-md text-center">
                 <div class="vs">
                    <h1>
                    VS
                    <h1>
                 </div>
              </div>
              <div class="col-md text-center">
                 <img src="../../resources/assets/images-team/sanlorenzo.png" class="img-fluid-teams-small">  
                 <h4 class="text-center">San Lorenzo</h4> 
              </div>
           </div>
           <p class="lead text-center">
              <a class="btn btn-primary btn-lg" href="#" role="button">Apostar</a>
           </p>
        </div>

        </div>


         <div class="col-xs-1">

                <div class="jumbotron">
           <h3>Futbol</h3>
           <p class="lead">Liga Argentina</p>
           <hr class="my-4">
           <div class="row">
              <div class="col-md text-center">
                 <img src="../../resources/assets/images-team/tigre.png" class="img-fluid-teams-small"> 
                 <h4 class="text-center">Tigre</h4> 
              </div>
              <div class="col-md text-center">
                 <div class="vs">
                    <h1>
                    VS
                    <h1>
                 </div>
              </div>
              <div class="col-md text-center">
                 <img src="../../resources/assets/images-team/chacarita.png" class="img-fluid-teams-small">  
                 <h4 class="text-center">Chacarita</h4> 
              </div>
           </div>
           <p class="lead text-center">
              <a class="btn btn-primary btn-lg" href="#" role="button">Apostar</a>
           </p>
        </div>

        </div>


         <div class="col-xs-1">

                <div class="jumbotron">
           <h3>Futbol</h3>
           <p class="lead">Liga Argentina</p>
           <hr class="my-4">
           <div class="row">
              <div class="col-md text-center">
                 <img src="../../resources/assets/images-team/estudiantes.png" class="img-fluid-teams-small"> 
                 <h4 class="text-center">Estudiantes de la plata</h4> 
              </div>
              <div class="col-md text-center">
                 <div class="vs">
                    <h1>
                    VS
                    <h1>
                 </div>
              </div>
              <div class="col-md text-center">
                 <img src="../../resources/assets/images-team/defensa.png" class="img-fluid-teams-small">   
                 <h4 class="text-center">Defensa y Justicia</h4> 
              </div>
           </div>
           <p class="lead text-center">
              <a class="btn btn-primary btn-lg margin-top" href="#" role="button">Apostar</a>
           </p>
        </div>
 -->
      </div>


      <!-- Aca termina el for de eventos -->
      <!-- Carga mas rapido si esta al final los js -->
      <script src="../js/jquery.min.js"></script>
      <script src="../js/popper.min.js.descarga"></script>
      <script src="../js/bootstrap.min.js.descarga"></script>
      <!-- IE10 bug -->
      <script src="../js/ie10-viewport-bug-workaround.js.descarga"></script>
</body>

</html>