<!DOCTYPE html>
<html lang="en" data-livestyle-extension="available">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="https://getbootstrap.com/favicon.ico">
  <title>Template</title>
</head>

<body>
  <!-- Navbar -->
  <main class="col-sm-12 ml-sm-auto col-md-12 pt-3 bg-light" role="main">
    <h1>Premios</h1>
    <div class="container">

      <div class="card-columns">

        <!-- Aca va el for de premios -->

        <div class="card">
          <div class="card-header">
            <p class="premios-title">Notebook Bangho - CompuMundo</p>
          </div>
          <div class="card-body">
            <div class="row">
                <div class="col-md text-center">
                        <img src="../../resources/assets/images-rewards/compumundo.png" class="img-fluid-teams-rewards margin-top-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md text-center">
                        Modelo VG3-SDF
                    </div>
                </div>
                <div class="row">
                        <div class="col-md text-center background-color-points">
                            20.000.000 Puntos
                    </div>
                </div>
            </div>
          <div class="card-footer bg-transparent border-transparent">
            <p class="lead text-center">
              <a class="btn btn-primary btn-lg" ui-sref="apostar" role="button">Canjear</a>
            </p>
          </div>
        </div>

      <div class="card">
        <div class="card-header">
            <p class="premios-title">Heladera - Fravega</p>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md text-center">
                    <img src="../../resources/assets/images-rewards/fravega.png" class="img-fluid-teams-rewards margin-top-3">
                </div>
            </div>
            <div class="row">
                <div class="col-md text-center">
                    Modelo Frost sdf-3434
                </div>
            </div>
            <div class="row">
                    <div class="col-md text-center background-color-points">
                            35.000.000 Puntos
                    </div>
            </div>
        </div>
        <div class="card-footer bg-transparent border-transparent">
            <p class="lead text-center">
            <a class="btn btn-primary btn-lg" ui-sref="apostar" role="button">Canjear</a>
            </p>
        </div>
        </div>

        
        <div class="card">
            <div class="card-header">
                <p class="premios-title">10 USD - Paypal</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md text-center">
                            <img src="../../resources/assets/images-rewards/paypal.png" class="img-fluid-teams-rewards margin-top-3">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md text-center">
                        Te enviamos a tu cuenta un total de 10 USD.
                    </div>
                </div>
                <div class="row">
                        <div class="col-md text-center background-color-points">
                                1.000.000 Puntos
                        </div>
                </div>
            </div>
            <div class="card-footer bg-transparent border-transparent">
                <p class="lead text-center">
                <a class="btn btn-primary btn-lg" ui-sref="apostar" role="button">Canjear</a>
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <p class="premios-title">20 USD - Paypal</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md text-center">
                        <img src="../../resources/assets/images-rewards/paypal.png" class="img-fluid-teams-rewards margin-top-3">
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md text-center">
                        Te enviamos a tu cuenta un total de 20 USD.
                    </div>
                </div>
                <div class="row">
                        <div class="col-md text-center background-color-points">
                                2.000.000 Puntos
                        </div>
                </div>
            </div>
            <div class="card-footer bg-transparent border-transparent">
                <p class="lead text-center">
                <a class="btn btn-primary btn-lg" ui-sref="apostar" role="button">Canjear</a>
                </p>
            </div>
        </div>
        
          


      <!-- Aca termina el for de eventos -->
      <!-- Carga mas rapido si esta al final los js -->
      <script src="../js/jquery.min.js"></script>
      <script src="../js/popper.min.js.descarga"></script>
      <script src="../js/bootstrap.min.js.descarga"></script>
      <!-- IE10 bug -->
      <script src="../js/ie10-viewport-bug-workaround.js.descarga"></script>
</body>

</html>