<!DOCTYPE html>
<html lang="en" data-livestyle-extension="available">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="https://getbootstrap.com/favicon.ico">
  <title>Template</title>
</head>

<body>
  <!-- Navbar -->
  <main class="col-sm-12 ml-sm-auto col-md-12 pt-3 bg-light" role="main">
    <h1>Ranking</h1>
    <div class="container">
            <table class="table table-striped">
              <thead>
                <tr>
                    <th>#</th>
                    <th>Usuario</th>
                    <th>Nivel</th>
                    <th>Puntos ganados</th>
                    <th>Puntos perdidos</th>
                    <th>Apuestas G/P</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>33</td>
                    <td>50000</td>
                    <td>15000</td>
                    <td>55/15</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Michael</td>
                    <td>23</td>
                    <td>50000</td>
                    <td>15000</td>
                    <td>55/15</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Nicko</td>
                    <td>17</td>
                    <td>50000</td>
                    <td>15000</td>
                    <td>55/15</td>
                </tr>
                <tr>
                        <th scope="row">4</th>
                        <td>Mark</td>
                        <td>33</td>
                        <td>50000</td>
                        <td>15000</td>
                        <td>55/15</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Michael</td>
                        <td>23</td>
                        <td>50000</td>
                        <td>15000</td>
                        <td>55/15</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>Nicko</td>
                        <td>17</td>
                        <td>50000</td>
                        <td>15000</td>
                        <td>55/15</td>
                    </tr>
                    <tr>
                            <th scope="row">7</th>
                            <td>Mark</td>
                            <td>33</td>
                            <td>50000</td>
                            <td>15000</td>
                            <td>55/15</td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>Michael</td>
                            <td>23</td>
                            <td>50000</td>
                            <td>15000</td>
                            <td>55/15</td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>Nicko</td>
                            <td>17</td>
                            <td>50000</td>
                            <td>15000</td>
                            <td>55/15</td>
                        </tr>
                        <tr>
                                <th scope="row">10</th>
                                <td>Nicko</td>
                                <td>17</td>
                                <td>50000</td>
                                <td>15000</td>
                                <td>55/15</td>
                            </tr>
              </tbody>
            </table>
          </div>
        
          


      <!-- Aca termina el for de eventos -->
      <!-- Carga mas rapido si esta al final los js -->
      <script src="../js/jquery.min.js"></script>
      <script src="../js/popper.min.js.descarga"></script>
      <script src="../js/bootstrap.min.js.descarga"></script>
      <!-- IE10 bug -->
      <script src="../js/ie10-viewport-bug-workaround.js.descarga"></script>
</body>

</html>