<div class="form-page">
  <div class="page-header no-margin-bottom">
    <div class="container-fluid">
      <h2 class="h5 no-margin-bottom">Premios</h2>
    </div>
  </div>
  <ul class="breadcrumb">
    <div class="container-fluid">
      <li class="breadcrumb-item"><a ui-sref="listaEventos">Home</a></li>
      <li class="breadcrumb-item active"> Ultimos Movimientos</li>
    </div>
  </ul>
  <div class="col-lg-12">
    <div class="block">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Premio</th>
            <th>Usuario</th>
            <th>Imagen</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>10 USD - Paypal</td>
            <td>Juan</td>
            <td><img src="../../resources/assets/images-rewards/paypal.png" class="img-fluid-teams-rewards"></td>
            <td>10-10-2017 15:34</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>20 USD - Paypal</td>
            <td>Federico</td>
            <td><img src="../../resources/assets/images-rewards/paypal.png" class="img-fluid-teams-rewards"></td>
            <td>12-10-2017 12:45</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Notebook Bangho - CompuMundo</td>
            <td>Ricardo</td>
            <td><img src="../../resources/assets/images-rewards/compumundo.png" class="img-fluid-teams-rewards"></td>
            <td>13-10-2017 05:39</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Heladera - Fravega</td>
            <td>Facundo</td>
            <td><img src="../../resources/assets/images-rewards/fravega.png" class="img-fluid-teams-rewards"></td>
            <td>14-10-2017 10:22</td>
          </tr>

        </tbody>
      </table>
      </table>
    </div>
  </div>
</div>